* {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
   }

   body {
       font-family: Arial, sans-serif;
       display: flex;
       justify-content: center;
       align-items: center;
       height: 100vh;
       margin: 0;
       /* background-color: #f4f4f4;*/
      background: linear-gradient(135deg,#94BBE9, #a281b7,#EEAECA);

   }
   .signup-container {
       background: white;
       padding: 20px;
       border-radius: 8px;
       box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
       width: 300px;
   }
   h2 { 
      color: #3544b7;
       text-align: center;

   }
   form {
       display: flex;
       flex-direction: column;
   }
   label {
      color: #3544b7;
       margin-bottom: 5px;
       font-weight: bold;
   }

   input {
       margin-bottom: 15px;
       padding: 10px;
       border: 1px solid #ccc;
       border-radius: 4px;
   }

   button {
       padding: 10px;
       background-color: #28a745;
       color: white;
       border: none;
       border-radius: 4px;
       cursor: pointer;
   }

   button:hover {
       background-color: #218838;
   }

   .error {
       color: red;
       font-size: 14px;
       margin-bottom: 10px;
   }

   .success {
       color: green;
       font-size: 14px;
       margin-bottom: 10px;
   }

   body {
       font-family: Arial, Helvetica, sans-serif;
       background-color: #f2f4f7;
       color: #333;
   }